// COLORS
$white: #fff;
$black: #000;
$transparentBlack: rgba(0,0,0,0.4);
$green: #a5d31a;
$red: #f72b3b;

// FONT-FAMILY
$family: 'Titillium Web', sans-serif;

// FONT-WEIGHTS
$regular: 400;
$bold: 600;